body{
	background: black;
	color: white;
	width: 88vw;
	height: 100vh;
	margin: 0;
}
.nav-section{
	display: flex;
    justify-content: space-between;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(https://assets.nflxext.com/ffe/siteui/vlv3/f85718e8-fc6d-4954-bca0-f5eaf78e0842/ea44b42b-ba19-4f35-ad27-45090e34a897/IN-en-20230918-popsignuptwoweeks-perspective_alpha_website_large.jpg);
	width: 100vw;
	height: 99vh;
	background-position: center;
    background-size: cover;
}
.right-sect h1{
   text-transform: uppercase;
   color: red;
   font-size: 3.25em;
   fill: currentColor;
   font-family: sans-serif;
   margin-inline: 2em;
}
.left-sect{
	margin: 3em;
}
.selectors{
	width: 6em;
	height: 2em;
	cursor: pointer;
	background: transparent;
	color: white;
	font-size: 1.25em;
	font-weight: bolder;
	font-style: italic;
}
.sign{
	width: 5em;
	height: 2em;
	font-size: 1.25em;
	background: red;
	color: white;
	border: none;
	border-radius: 3px;
	font-family: sans-serif;
	font-style: italic;
	margin-inline: 2em;
}
.sign:hover{
	background: darkred;
	color: wheat;
	cursor: pointer;
}
.view{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.heading  h1{
	font-size: 4em;
	font-weight: 900;
	font-family: inherit;
	color: white;
	margin: 0;
	text-align: center;
	position: absolute;
	top: 35%;
	left: 30%;
	transform: translate(-50%, -50%);
	transform: translate(-20%, -20%);
	text-shadow: 2px 2px 4px #000000,4px 4px 4px ghostwhite;
}
.para1{
	font-size: 2em;
	font-weight: 600;
	font-family: inherit;
	margin: 0;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: white;
}
.para2{
	font-size: 2em;
	font-weight: 600;
	font-family: inherit;
	margin: 0;
	position: absolute;
	top: 57%;
	left: 40%;
	transform: translate(-50%, -50%);
	transform: translate(-30%, -30%);
	color: white;
}
.email{
	font-size: 1.35em;
	width: 30rem;
	padding-inline: 1em;
	height:4rem;
	margin: 0;
	position: absolute;
	top: 67%;
	left: 35%;
	transform: translate(-50%, -50%);
	transform: translate(-30%, -30%);
	color: white;
	background: transparent;	
}
.email:focus{
	border: 3px solid white;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
    font-size: 1em;
    color: white;
    padding-inline: 0.5em;
}
.submit{
	font-size: 2em;
	width: 18rem;
	padding-inline: 1em;
	height:4.5rem;
	margin: 0;
	position: absolute;
	top: 67%;
	left: 60%;
	transform: translate(-50%, -50%);
	transform: translate(-30%, -30%);
	color: white;
	background: red;	
	border: none;
	border-radius: 10px;
}
.submit:hover{
	cursor: pointer;
	background: darkred;
	color: wheat;
}
.new-section{
	margin-block: 10rem;
	width: 100%;
	display:flex;
	flex-wrap: wrap;
}
.text-section{
	width: 50%;
	margin-inline: 5rem;
}
.text-section h1{
	font-size: 4rem;
	font-family: !important;
	font-weight: 900;
}
.text-section h3{
	font-size: 2rem;
}
.img-section{
	width: 40%;
}
.img-section img{
	width: 40rem;
	height: 25rem;
	margin-left: 1em;
}
.second-section{
	width: 100%;
	display: flex;
	margin-block: 10rem;
}
.sec-image{
    width: 50%;
}
.sec-image img{
     width: 35rem;
     height: 30rem;
     padding-inline: 2rem;
}
.sec-text{
	width: 50%;
}
.sec-text h1{
	font-size: 4rem;
	font-family: !important;
	font-weight: 800;
}
.sec-text h3{
	font-size: 2rem;
}
.third-section{
	width: 100%;
	margin-block: 10rem;
	display:flex;
	flex-wrap: wrap;
}
.third-text{
	width: 50%;
	margin-inline: 5rem;
}
.third-text h1{
	font-size: 4em;
	font-family: !important;
	font-weight: 900;
}
.third-text h3{
	font-size: 2em;
}
.third-image{
	width: 40%;
}
.third-image img{
    width: 40rem;
    height: 20rem;
    margin-left: 1em;
}
.fourth-section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-block: 10rem;
}
.fouth-image-section{
    width: 40%;
}
.fourth-image-section img{
     width: 40rem;
     height: 30rem;
     margin-inline: 5em;
}
.fourth-text-section{
	width: 50%;
}
.fourth-text-section h1{
	font-size: 4rem;
	font-family: !important;
	font-weight: 900;
    margin-left: 1em;
}
.fourth-text-section h3{
	font-size: 2em;
	margin-left: 2em;
}
.footer{
	color: ghostwhite;
	margin-block: 5rem;
	padding: 4rem;
}
.call a{
    color: white;
    margin-inline: 10px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container{
	margin-inline: 3rem;
}
.footer-col{


}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
	margin-bottom: 20px;
}
.footer-col ul li a{
	font-size: 1.5rem;
	line-height: 1.5;
	font-weight: 400;
	color: gray;
	text-decoration: none;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: ghostwhite;
	padding-left: 10px;
}
.language{
	width: 6em;
	height: 2em;
	cursor: pointer;
	background: transparent;
	color: white;
	font-size: 1em;
	font-weight: bolder;
	font-style: italic;
	margin-inline: 2rem;
}
/*responsive*/
@media(max-width:750px){
.footer-col{
	width: 50%;
	margin-bottom: 30px;
}
}