    body {
        margin: auto;
        background: powderblue;
}

.container {
        text-align: center;
        padding: 4rem;
        margin-block: 10rem;
}
.container h1{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 2rem;

}
.container label{
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1.25rem;
    padding: 1rem;
}
#celsius{
        width: 10rem;
        height: 1rem;
        padding: 5px;
        margin: 1rem;
}

    button {
        padding: 5px 10px;
        background-color: #0074d9;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: 700;
}

    button:hover {
       background-color: #0056b3;
       color: ghostwhite;
}